@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --main-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Great Vibes", cursive;
}

@import "tailwindcss";


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge legacy */
* {
  -ms-overflow-style: none;
}


html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--main-font);
  padding: 0 4em;
}

p {
  font-weight: 400;
  font-size: 1.25em;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 2.25em;
}

/* Menu */
.menu-item {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 1em;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.menu-item:hover {
  opacity: 1;
}

.hero-text {
  font-family: var(--main-font);
  font-weight: 400;

  @apply text-8xl
}

.hero-text-span {
  font-family: var(--secondary-font);
}

.sliding-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 4em;
  opacity: 0.5;
  line-height: 1.2;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility padding-x {
  @apply pl-20 pr-20
}