@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --main-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Great Vibes", cursive;
}

@import "tailwindcss";


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge legacy */
* {
  -ms-overflow-style: none;
}


html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: var(--main-font);
  padding: 0 1em;
}

@media (min-width: 768px) {

  html,
  body {
    padding: 0 4em;
  }
}

p {
  font-weight: 400;
  font-size: 1.25em;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 2.25em;
  text-transform: uppercase;
}

/* Menu */
.menu-item {
  font-family: var(--main-font);
  font-weight: 200;
  font-size: 1em;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.menu-item:hover {
  opacity: 1;
}

.hero-text {
  font-family: var(--main-font);
  font-weight: 400;

  @apply text-8xl
}

.hero-text-span {
  font-family: var(--secondary-font);
}

.sliding-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 4em;
  opacity: 0.5;
  line-height: 1.2;
}

.divisor-text {
  font-size: 2em;

  @apply uppercase md:text-center;
}

.about-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 3em;
  text-align: justify;
}

.tech-description {
  @apply text-sm leading-relaxed opacity-50 max-w-full md:max-w-[35vw] text-justify md:text-left;
}

.tech-title {
  font-size: 4em;
  font-weight: 400;
  line-height: 1;
}

.hp-project-title {
  font-size: 4em;
  font-weight: 600;
}

.hp-project-view {
  font-size: 1em;
}

.project-detail-title {
  font-size: 2.5em;
  font-weight: 600;
}

.project-name {
  font-size: 30em;
  font-weight: 600;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility padding-x {
  @apply pl-6 pr-6 md:pl-20 md:pr-20
}

.project-hero-section {
  @apply flex flex-col items-center justify-center h-[50vh] md:h-screen;
}

.project-hero-img {
  @apply w-full h-[30vh] md:h-[200px] object-cover;
}

.project-info-section {
  @apply flex flex-col justify-between py-20 md:py-40 min-h-screen h-auto;
}

.project-info-row {
  @apply flex flex-col md:flex-row justify-between opacity-50 gap-4 md:gap-0;
}

.project-info-technologies {
  @apply flex flex-col items-start md:items-end gap-2 md:gap-10;
}

.project-details-section {
  @apply grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20 py-10;
}

.project-details-content {
  @apply flex flex-col justify-between gap-10 md:gap-0;
}

.project-details-img {
  @apply h-[50vh] md:h-[110vh] w-full md:w-[50vw] object-cover;
}

.images-grid-section {
  @apply grid grid-cols-1 md:grid-cols-3 gap-5 py-10;
}

.images-grid-left-col {
  @apply col-span-1;
}

.images-grid-left-img {
  @apply h-[50vh] md:h-full w-full md:w-[50vw] object-cover;
}

.images-grid-right-col {
  @apply col-span-1 md:col-span-2;
}

.images-grid-right-inner {
  @apply grid grid-cols-1 md:grid-cols-2 gap-5;
}

.images-grid-full-span {
  @apply col-span-1 md:col-span-2;
}

.images-grid-top-img {
  @apply h-[50vh] w-full md:w-[70vw] object-cover;
}

.images-grid-bottom-row {
  @apply flex flex-col md:flex-row justify-between gap-5;
}

.images-grid-bottom-img-1 {
  @apply h-[50vh] md:h-[60vh] w-full md:w-[30vw] object-cover;
}

.images-grid-bottom-img-2 {
  @apply h-[50vh] md:h-[60vh] w-full md:w-[25vw] object-cover;
}

.divisor-section {
  @apply relative md:py-2 py-1 min-h-15 border-y flex items-center w-screen left-1/2 -translate-x-1/2 overflow-hidden;
}

.divisor-content {
  @apply absolute flex gap-4 whitespace-nowrap;
}

@media (max-width: 768px) {

  .section-title {
    font-size: 1.5em;
  }

  .divisor-text {
    font-size: 1.2em;
  }

  .hero-text {
    font-size: 2em;
  }

  .sliding-text {
    font-size: 1.5em;
  }

  .about-text {
    font-size: 1.5em;
  }

  .tech-title {
    font-size: 2em;
  }

  .hp-project-title {
    font-size: 2em;
  }

  .project-name {
    font-size: 8em;
  }
}